*{
    padding: 0px;
    margin: 0px;
    color: black;
}

header{
    width: 100vw;
    height: 100px;
    background-color: #2c3e50;
    text-align: center;
}
#search-box{
    display: block;
    background-color: whitesmoke;
}

#search{
  
   margin-left: 550px;
   border: 2px solid black;
   width: 600px;
   height: 30px;
   font-size: 25px;
}

#item-container{
    background-color: whitesmoke;
    width: 100%;
    height: 500px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
    
}

#item1{
  border-radius: 5px;
  width: 250px;
  height: 300px;
  color: black;
  text-align: center;
  font-size: 20px;
  background-image:url(item1.webp);
  background-size: cover;
 
}

#item2{
  background-image:url(item2.jpg);
  background-size: cover;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  color: black;
  text-align: center;
  font-size: 20px;
}

#item3{
 background-image:url(item3.webp);
  background-size: cover;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  color: black;
  text-align: center;
  font-size: 20px;
}

#item4{
 background-image:url(item4.jpg);
  background-size: cover;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  color: black;
  text-align: center;
  font-size: 20px;
}

#item5{
background-image:url(item5.webp);
  background-size: cover;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  color: black;
  text-align: center;
  font-size: 20px;
}

#item6{
 background-image:url(item6.webp);
  background-size: cover;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  color: black;
  text-align: center;
  font-size: 20px;
}


#form-heading{
    color: black;
}

#form-container{
    margin-left: 40px;
  
}


.form{
    width: 250px;
    height:25px;
    font-size: 20px;
}


button{
    background-color: green;
    width: 70px;
    height: 40px; 
    font-size: 20px;
    border: 2px solid black;
}

button:hover{
  background-color: blue;
}


footer{
text-align: center;
    background: #2c3e50;
    color: white;
    padding: 10px;
}

p{
 
display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 30px;
}